<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net48" />
  <package id="Cyotek.Drawing.BitmapFont" version="2.0.0" targetFramework="net48" />
  <package id="HelixToolkit" version="2.24.0" targetFramework="net48" />
  <package id="HelixToolkit.SharpDX.Core" version="2.24.0" targetFramework="net48" />
  <package id="HelixToolkit.Wpf" version="2.24.0" targetFramework="net48" />
  <package id="HelixToolkit.Wpf.SharpDX" version="2.24.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="OxyPlot.Core" version="2.1.2" targetFramework="net48" />
  <package id="OxyPlot.Wpf" version="2.1.2" targetFramework="net48" />
  <package id="OxyPlot.Wpf.Shared" version="2.1.2" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Private.DataContractSerialization" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Serialization.Xml" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net48" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net48" />
  <package id="TimeOnlyAndDateOnly" version="1.0.1" targetFramework="net48" />
</packages>